<a href="https://colab.research.google.com/github/indobims/Praktikum-AlgoritmaDanPemrograman--04-05-06-07-/blob/main/Penugasan07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**3.Tuple Sederhana**

In [1]:
mahasiswa = ("Budi Santoso", 20, "Teknik Komputer")

print(f"Nama: {mahasiswa[0]}")
print(f"Umur: {mahasiswa[1]}")
print(f"Prodi: {mahasiswa[2]}")

Nama: Budi Santoso
Umur: 20
Prodi: Teknik Komputer

**4.Tuple Tidak Bisa Diubah**

In [2]:
angka = (1, 2, 3)
print(f"Tuple awal: {angka}")
try:
    angka[0] = 10
except TypeError as e:
    print(f"Error yang terjadi: {e}")

print("\nPenjelasan:")
print("Python memberikan error 'TypeError: 'tuple' object does not support item assignment'.")
print("Ini terjadi karena tuple adalah tipe data yang bersifat immutable (tidak bisa diubah).")
print("Setelah sebuah tuple dibuat, elemen di dalamnya tidak dapat diubah, ditambah, atau dihapus.")

Tuple awal: (1, 2, 3)
Error yang terjadi: 'tuple' object does not support item assignment

Penjelasan:
Python memberikan error 'TypeError: 'tuple' object does not support item assignment'.
Ini terjadi karena tuple adalah tipe data yang bersifat immutable (tidak bisa diubah).
Setelah sebuah tuple dibuat, elemen di dalamnya tidak dapat diubah, ditambah, atau dihapus.

**5.Dictionary Dasar**

In [3]:
buku = {
    "Judul": "Algoritma & Pemrograman",
    "Penulis": "Munir",
    "Tahun": 2021
}

print(f"Judul: {buku['Judul']}")
print(f"Penulis: {buku['Penulis']}")
print(f"Tahun: {buku['Tahun']}")

Judul: Algoritma & Pemrograman
Penulis: Munir
Tahun: 2021

**6. Operasi Dictionary**

In [4]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}
print(f"Data awal: {dosen}")

dosen["Umur"] = 40

dosen["Prodi"] = "Teknik Komputer"

del dosen["Umur"]

print(f"Hasil akhir: {dosen}")

Data awal: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'TRK'}
Hasil akhir: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

**7. Set dan Himpunan**

In [5]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print(f"Set A: {A}")
print(f"Set B: {B}")

union_ab = A.union(B)
print(f"\nUnion (Gabungan): {union_ab}")

intersection_ab = A.intersection(B)
print(f"Intersection (Irisan): {intersection_ab}")

difference_ab = A.difference(B)
print(f"Difference (Hanya di A): {difference_ab}")

Set A: {'Bahasa Inggris', 'Algoritma', 'Matematika'}
Set B: {'Algoritma', 'Basis Data', 'Matematika'}

Union (Gabungan): {'Matematika', 'Basis Data', 'Bahasa Inggris', 'Algoritma'}
Intersection (Irisan): {'Algoritma', 'Matematika'}
Difference (Hanya di A): {'Bahasa Inggris'}

**8.Studi Kasus Dictionary**

In [6]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

print("Daftar Nilai Mahasiswa:")
for nama, nilai in nilai_mahasiswa.items():
    print(f"- {nama}: {nilai}")

total_nilai = sum(nilai_mahasiswa.values())
jumlah_mahasiswa = len(nilai_mahasiswa)
rata_rata = total_nilai / jumlah_mahasiswa

print(f"\nRata-rata nilai: {rata_rata:.2f}")

Daftar Nilai Mahasiswa:
- Andi: 85
- Budi: 90
- Cici: 78

Rata-rata nilai: 84.33

**9. Studi Kasus Set â€“ Klub Mahasiswa**

In [7]:
klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

print(f"Klub A: {klub_a}")
print(f"Klub B: {klub_b}")

semua_anggota = klub_a.union(klub_b)
print(f"\nDaftar seluruh anggota: {semua_anggota}")

anggota_kedua_klub = klub_a.intersection(klub_b)
print(f"Anggota yang ada di kedua klub: {anggota_kedua_klub}")

anggota_hanya_a = klub_a.difference(klub_b)
print(f"Anggota yang hanya ada di Klub A: {anggota_hanya_a}")

Klub A: {'Cici', 'Budi', 'Andi'}
Klub B: {'Cici', 'Eka', 'Deni'}

Daftar seluruh anggota: {'Cici', 'Budi', 'Eka', 'Deni', 'Andi'}
Anggota yang ada di kedua klub: {'Cici'}
Anggota yang hanya ada di Klub A: {'Budi', 'Andi'}