<a href="https://colab.research.google.com/github/indobims/Praktikum-AlgoritmaDanPemrograman--04-05-06-07-/blob/main/Penugasan06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**3. Akses Elemen List**

In [1]:
mahasiswa = ["Arya", "Bima", "Citra", "Dharma", "Eka"]

print(f"Nama pertama: {mahasiswa[0]}")

print(f"Nama terakhir: {mahasiswa[-1]}")

print(f"Nama pada indeks ke-2: {mahasiswa[2]}")
print("-" * 30)

Nama pertama: Arya
Nama terakhir: Eka
Nama pada indeks ke-2: Citra
------------------------------

**4.Operasi Dasar List**

In [5]:
nilai = [70, 75, 80]
print(f"List awal: {nilai}")

nilai[1] = 85
print(f"Setelah nilai kedua diubah: {nilai}")

nilai.append(90)
print(f"Setelah ditambah 90: {nilai}")

nilai.remove(70)
print(f"Setelah dihapus 70: {nilai}")

print(f"Hasil akhir: {nilai}")
print("-" * 30)

List awal: [70, 75, 80]
Setelah nilai kedua diubah: [70, 85, 80]
Setelah ditambah 90: [70, 85, 80, 90]
Setelah dihapus 70: [85, 80, 90]
Hasil akhir: [85, 80, 90]
------------------------------

**5. Slicing List**

In [6]:
angka = list(range(1, 11))
print(f"List lengkap: {angka}")

print(f"3 elemen pertama: {angka[:3]}")

print(f"4 elemen terakhir: {angka[-4:]}")

print(f"Elemen indeks genap: {angka[::2]}")
print("-" * 30)

List lengkap: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen indeks genap: [1, 3, 5, 7, 9]
------------------------------

**6. List 2D – Matriks**

In [7]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print(f"Baris 1, kolom 2: {matriks[0][1]}")

print(f"Baris 2, kolom 3: {matriks[1][2]}")

print(f"Seluruh baris 1: {matriks[0]}")
print("-" * 30)

Baris 1, kolom 2: 2
Baris 2, kolom 3: 6
Seluruh baris 1: [1, 2, 3]
------------------------------

**7. Operasi Matriks 2D**

In [8]:
matriks_A = [
    [10, 20],
    [30, 40]
]
matriks_B = [
    [5, 6],
    [7, 8]
]

hasil_jumlah = [
    [0, 0],
    [0, 0]
]

for i in range(len(matriks_A)):
    for j in range(len(matriks_A[0])):
        hasil_jumlah[i][j] = matriks_A[i][j] + matriks_B[i][j]

print(f"Matriks A: {matriks_A}")
print(f"Matriks B: {matriks_B}")
print(f"Hasil Penjumlahan: {hasil_jumlah}")
print("-" * 30)

Matriks A: [[10, 20], [30, 40]]
Matriks B: [[5, 6], [7, 8]]
Hasil Penjumlahan: [[15, 26], [37, 48]]
------------------------------

**8. Rata-rata Nilai Mahasiswa**

In [9]:
nilai_mahasiswa = [
    [75, 80, 85],  # Mahasiswa 1
    [60, 70, 65],  # Mahasiswa 2
    [90, 95, 92]   # Mahasiswa 3
]

for i in range(len(nilai_mahasiswa)):
    nilai_satu_mhs = nilai_mahasiswa[i]
    total_nilai = sum(nilai_satu_mhs)
    jumlah_nilai = len(nilai_satu_mhs)
    rata_rata = total_nilai / jumlah_nilai
    print(f"Rata-rata mahasiswa {i+1}: {rata_rata:.2f}")

print("-" * 30)

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33
------------------------------

**9. Studi Kasus – Data Toko**

In [11]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar Stok Barang:")
for barang in stok:
    print(f"- {barang[0]}: {barang[1]} buah")
barang_terbanyak = ""
stok_terbanyak = 0

for barang in stok:
    nama_barang = barang[0]
    jumlah_stok = barang[1]

    if jumlah_stok > stok_terbanyak:
        stok_terbanyak = jumlah_stok
        barang_terbanyak = nama_barang

print("\nBarang dengan stok terbanyak:")
print(f"{barang_terbanyak} ({stok_terbanyak} buah)")
print("-" * 30)

Daftar Stok Barang:
- Buku: 20 buah
- Pulpen: 35 buah
- Penghapus: 15 buah

Barang dengan stok terbanyak:
Pulpen (35 buah)
------------------------------