<a href="https://colab.research.google.com/github/indobims/Praktikum-AlgoritmaDanPemrograman--04-05-06-07-/blob/main/Praktikum04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 –** **Perulangan For dengan Range**

In [36]:
for i in range(1, 5):
    print(i)

1
2
3
4

**Praktikum 02 - Perulangan While**

In [27]:
n = int(input("Masukkan angka: "))
while n > 0:
    print(n)
    n -= 1

Masukkan angka: 5
5
4
3
2
1

**Praktikum 03 – Nested Loop (Segitiga Bintang)**

In [35]:
for i in range(1, 5):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****

**Praktikum 04 – Break dan Continue**

Break

In [37]:
for i in range(1, 10):
    if i == 5:
        print("Angka 5 ditemukan")
        break

Angka 5 ditemukan

Continue

In [38]:
for i in range(1, 5):
    if i % 2 == 1:
        continue
    print(i)

2
4

**Praktikum 05 – For pada Dictionary**

In [17]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
    print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

**Praktikum 06 – For dengan Enumerate**

In [18]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

**Praktikum 07 – Studi Kasus: Program Kasir Multi-Item**

In [25]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower() == "selesai":
        break
    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0