<a href="https://colab.research.google.com/github/indobims/Praktikum-AlgoritmaDanPemrograman--04-05-06-07-/blob/main/Praktikum06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Praktikum 01 – Membuat dan Mengakses List 1D**

In [1]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

**Praktikum 02 – Update dan Operasi Dasar List**

In [2]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

**Praktikum 03 – Slicing List**

In [3]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

**Praktikum 04 – List 2D (Matriks)**

In [4]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

**Praktikum 05 – Operasi pada List 2D**

In [12]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

**Praktikum 06 – Studi Kasus: Pengelolaan Nilai Mahasiswa**

In [13]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00